# Pandas
Read "10 minutes to Pandas": https://pandas.pydata.org/docs/user_guide/10min.html before solving the exercises.
We will use the data set "cars_data" in the exercises below.

In [5]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [2]:
# A CSV (Comma-Separated Values) file is a plain text format used to store tabular data,
# with rows and columns separated by commas. Its commonly used for data exchange 
# between software applications, such as exporting data from spreadsheets or importing 
# data into databases. CSV files are human-readable, versatile, and do not include data 
# type information.

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\ec_utbildning\kursframstallning\ds23\python_stat\exercises\numpy_matplot_pandas\cars_data.csv')

In [28]:
cars = pd.read_csv("cars_data.csv")   # I have the csv file in the same folder
cars

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### Print the first 10 rows of the data.

In [17]:
print(cars.head(10))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc
9     11          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0
9              six         121               21  20970.0

### Print the last 5 rows.

In [18]:
print(cars.tail(5))

    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [19]:
print(cars.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 60
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             58 non-null     int64
 1   company           58 non-null     object
 2   body-style        58 non-null     object
 3   wheel-base        58 non-null     float64
 4   length            58 non-null     float64
 5   engine-type       58 non-null     object
 6   num-of-cylinders  58 non-null     object
 7   horsepower        58 non-null     int64
 8   average-mileage   58 non-null     int64
 9   price             58 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 5.0+ KB
None

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [27]:
print(cars.dropna(inplace = True))

None

### Calculate the mean of each numeric column.

In [26]:
print(cars.mean(numeric_only=True))


# Går också med nedan
# numeric_data = cars.select_dtypes(include=[int,float])
 #print(numeric_data.mean())

index                 40.827586
wheel-base            98.620690
length               173.646552
horsepower           106.051724
average-mileage       25.534483
price              15387.000000
dtype: float64

### Select the rows where the column "company" is equal to 'honda'.

In [21]:
print(cars.loc[cars['company'] == 'honda'])

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [22]:
car_sorted = cars.sort_values('price', ascending = False,)

print(car_sorted.head(20).price)   # Ville bara se de 20 fösta priserna för att se att de printades rätt

35    45400.0
11    41315.0
34    40960.0
46    37028.0
12    36880.0
26    36000.0
25    35550.0
45    34028.0
24    32250.0
10    30760.0
33    28248.0
32    25552.0
9     20970.0
6     18920.0
31    18344.0
4     17450.0
8     16925.0
2     16500.0
1     16500.0
7     16430.0
Name: price, dtype: float64

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [23]:
models = ['audi', 'bmw', 'porsche']
print(cars[cars['company'].isin(models)])


#Eller så gör man nedan med loc
# cond1 = cars['company'] == 'audi'
# cond2 = cars['company'] == 'bmw'
# cond3 = cars['company'] == 'porsche'
# print(cars.loc[(cond1) | (cond2) | (cond3)])

    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0

### Find the number of cars (rows) for each company.

In [24]:
nr_cars = cars['company'].value_counts()
print(nr_cars)


# Also 2nd
# nr_cars = cars.groupby('company').size()
#print(nr_cars)


# Or 3rd....if i didnt have any methods but less effecient

# nr_cars = {}   # Tom dictionary skapas för bilar med antalet i senare
# for x,y in cars.iterrows():
#    model = y['company']
#    key_count = len([key for key in cars['company'] if key == model])
#    nr_cars[model] = key_count  
#for a,b in enumerate(nr_cars):
#    print(b,nr_cars[b])

#print(nr_cars)

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
jaguar           3
dodge            2
porsche          2
volvo            2
isuzu            1
Name: company, dtype: int64

### Find the maximum price for each company.

In [25]:
max_price = cars.groupby('company')['price'].max()
print(max_price)

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64